label{
    font-size: 30px;
    display: none;
}
#toggle {
    display: none;
}
@media only screen and (max-width:700px) and (min-width:360px){
    label[for="toggle"]{
        display: block;
        color: white;
        padding: 20px;
        margin-left: 15px;
        cursor: pointer;
    }
    input[type="checkbox"]:checked + .nav{
        display: block;
    }
    .nav {
        display: block;
        margin-left: 5px;
        width: 110px;
    }
    .nav ul {
        flex-direction: column;
        margin: 0;   
    }
    .nav ul li{
        margin-bottom: 10px;
        width: 100%;
    }
    .nav .right-side {
        margin-left: 150%;
    }
}
@media only screen and (max-width:359px){
    label[for="toggle"]{
        display: block;
        color: white;
        padding: 20px;
        margin-left: 15px;
        cursor: pointer;
    }
    input[type="checkbox"]:checked + .nav{
        display: block;
    }
    .nav {
        display: block;
        margin-left: 5px;
        width: 110px;
    }
    .nav ul {
        flex-direction: column;
        margin-left: -350%;        
    }
    .nav ul li{
        margin-bottom: 10px;
        width: 100%;
       
    }
    .nav .right-side {
        margin-left: 60%;
    }
}