.big_container, form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  form{
    width:100%;
  }

  .glass {
    background: lightblue;
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
    border-radius: 2.5rem;
  }
  .big_container {
    width: 80%;
    margin-top: 3em;
    flex-wrap: wrap;
    padding: 10px;
    padding-bottom:2em;
  }
  .addPropertyInfo{
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }

  .item {
    padding: 0.3em;
    display: flex;
    align-items: center;
  }

  .countryitem input {
    width: 8rem;
    margin-right: 10px;
  }
  input {
    border-radius: 5px;
    background: #DCD7C9;
    border: 2px solid #3F4E4F;
    height: 2rem;
  }
  
  .remove_user_container {
    width: 321.35px;
    height: 343px;
    background: #EAE7DC;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }

  .remove_user_container h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 31px;
    text-align: center;
    color: #646FD4;
  }

  .remove_user_container img {
    width: 199px;
    height: 199px;
    border-radius: 50%;
  }

  .remove_user_container button {
    width: 161.11px;
    height: 46.77px;
    background: #2C3639;
    border: none;
    border-radius: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #E3E2DF;
  }

  .submitbutton input {
    width: 161.11px;
    height: 46.77px;
    background: #2C3639;
    border: none;
    border-radius: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #E3E2DF;
  }

  #edit_image {
    width: 161.11px;
    height: 36.77px;
    background: #2C3639;
    border: none;
    border-radius: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #E3E2DF;
  }
  #email {
    width: 18rem;
  }

  #file {
    width: 6em;
  }
  
  #submit:hover{
    cursor: pointer;
  }

  @media screen and (max-width:401px){
    #firstname {
        width: 80px;
    }
    #lastname {
        width: 80px;
    }
    #email{
        width: 12rem;
    }
    .remove_user_container{
        width: 200px;
        height: 250px;

    }
    #display_image {
        width: 200px;
        

    }
    #submit{
        width: 100px;
        font-size: 15px;
        height: 40px;
    }
  }