@font-face {
    font-family: ChakraPetch;
    src: url(../fonts/ChakraPetch-Regular.ttf);
}
@font-face { 
    font-family: Diplomata;
    src: url(../fonts/PressStart2P-Regular.ttf);
}
#mheader {
    background-image: url("../images/editedImg.jpg");
    background-repeat: no-repeat;
    opacity: 0.9;
    background-size: cover;
    /* background-position: center; */
    width: 100%;
    height: 100vh;
}
.first-p h1 {
    font-family: "Diplomata";
    font-size: 25px;
    line-height: 40px;
    color: white;
}
.first-p p {
    font-family: "ChakraPetch";
    color: white;
    font-size: 16px;
}
.e-kosova {
    margin-top: 10%;
    margin-left: 9%;
}
.second-p {
    margin-top: 2%;
    
}
.third-p {
    margin-top: 2%;
}
.second-p .secondTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.third-p .thirdTitle {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    
}
.third-p .thirdTitle .third{
    color: white;
    font-family: "Diplomata";
    line-height: 30px;
    font-size: 13px;
    margin-left: 17px;
    
}
.third-p .thirdParagraph {
    color: white;
    font-family: "ChakraPetch";
    font-size: 14px;
    margin-top: 7px;
}

.second-p .secondTitle .second{
    color: white;
    font-family: "Diplomata";
    line-height: 30px;
    font-size: 13px;
    margin-left: 17px;
}
.second-p .secondParagraph {
    color: white;
    font-family: "ChakraPetch";
    font-size: 14px;
    margin-top: 8px;
}
